#titlebar { display: none !important; }

#tabs-container .newtab,
.tab .tab-audio,
.tab .button-badge,
#tabs-container .toggle-trash,
.button-toolbar.home,
.button-toolbar.back,
.button-toolbar.forward {
	display: none !important;
}

.tab .favicon {
	display: none !important;
	border: none !important;
	background-color: transparent !important;
}

.tab.pinned .favicon {
	display: block !important;
}

.tab {
	padding-right: 0px !important;
	margin: 0px !important;
	margin-right: 4px !important;
	font-size: 12px !important;
	font-family: "Gotham" !important;
	border-radius: 3px !important;
	border: none !important;
	padding: 0px !important;
	line-height: 26px !important;
	opacity: 0.5 !important;
	background: var(--color0) !important;
	color: var(--foreground) !important;
}

.tab.active {
	opacity: 1 !important;
}

#tabs-container {
	background: var(--background) !important;
	padding: 4px !important;
	height: 26px !important;
}



.maximized #tabs-container { padding: 10px !important; }

.maximized .tab { margin-right: 10px !important; }




#tabs-container.top {
	border: none !important;
}

.tab .header {
	display: none !important;
}

.tab .title {
	display: inline-block !important;
	margin: 0px 10px 0px 5px !important;
	padding: 0px !important;
	height: 14px !important;
	line-height: 14px !important;
	position: relative !important;
	top: -2px !important;
}

.tab span.close {
	position: relative !important;
	top: -2px !important;
	background: transparent !important;
	background-image: url("data:image/svg+xml,<svg viewBox='0 0 30 30' preserveAspectRatio='true' xmlns='http://www.w3.org/2000/svg'><circle cx='15' cy='15' r='6' style='fill: #fafafa; stroke-width: 0;' /></svg>") !important
}

.tab.active span.close { display: none !important; }

.tab span.close > svg {	display: none !important; }

*::-webkit-scrollbar {
	display: none !important;
}

.addressfield .addressfield-siteinfo,
.button-addressfield.bookmark,
.button-addressfield.reader-mode,
.input-dropdown svg {
	display: none !important;
}

.button-toolbar.reload {
	margin: 0px 10px !important;
	background-color: transparent !important;
	background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='34' height='34'><circle style='stroke: none; fill: #ccc;' cx='17' cy='17' r='1.75' /><circle style='stroke: none; fill: #ccc;' cx='26' cy='17' r='1.75' /><circle style='stroke: none; fill: #ccc;' cx='8' cy='17' r='1.75' /></svg>")  no-repeat;
	background-position: center;
	opacity: 0.5 !important;
}

.button-toolbar.reload:hover {
	opacity: 1 !important;
}

.button-toolbar.reload > span {	display: none !important; }

.address-bottom .toolbar-addressbar {
	background-color: var(--background) !important;
	box-shadow: none !important;
	border: none !important;
	margin: 0px !important;
	padding: 0px !important;
	height: 34px !important;
}

.addressfield {
	background-color: transparent !important;
	color: var(--foreground) !important;
	opacity: .5 !important;
	border: none !important;
	border-radius: 4px !important;
	box-shadow: none !important;
}

.addressfield form input,
.addressfield form input::placeholder {
	font-size: 12px !important;
	font-family: "Gotham" !important;
	font-weight: normal !important;
}

.addressfield form input::placeholder { font-style: italic !important; }

.addressfield:focus-within { background-color: var(--color8) !important; opacity: 1 !important; }

.addressfield .pageload {
	font-family: "Gotham" !important;
	color: var(--color7) !important;
}

.addressfield .pageload .pageload-indicator,
.addressfield .pageload .pageload-indicator::-webkit-progress-value {
	background-color: transparent !important;
}
